.btn {
    @apply inline-flex items-center justify-center min-h-[40px] rounded-md text-white transition-all duration-300 px-6 text-sm font-medium relative overflow-hidden;
  }
  
  .btn[disabled] {
    @apply opacity-75 cursor-not-allowed ;
  }
  
  .btn-primary {
    @apply bg-primary-600 hover:bg-primary-700 focus:bg-primary-800 focus:ring-2 focus:ring-offset-2 focus:ring-primary-600;
  }
  .btn-secondary {
    @apply bg-orange-600 hover:bg-orange-700 focus:bg-orange-800 focus:ring-2 focus:ring-offset-2 focus:ring-orange-600;
  }
  .btn-default {
    @apply bg-gray-400 hover:bg-gray-500 focus:bg-gray-500 focus:ring-2 focus:ring-offset-2 focus:ring-gray-300;
  }
  .btn-danger {
    @apply bg-red-500 hover:bg-red-500 focus:bg-red-500 focus:ring-2 focus:ring-offset-2 focus:ring-red-300;
  }
  .btn-success {
    @apply bg-green-600 hover:bg-green-700 focus:bg-green-800 focus:ring-2 focus:ring-offset-2 focus:ring-green-600;
  }
  .btn-third {
    @apply bg-primary-500 hover:bg-primary-700 focus:bg-primary-800 focus:ring-2 focus:ring-offset-2 focus:ring-primary-600;
  }
  .btn-primary-outline {
    @apply bg-white border border-primary-600 text-primary-600  hover:bg-primary-600 hover:border-transparent hover:text-white ;
  
  }
  
  .btn-full {
    @apply w-full block;
  }
  
  .btn-lg {
    @apply h-[50px];
  }
  
  .btn-loader {
    .btn-text {
      @apply transition-all duration-300;
    }
    &.active-loader {
      .loader-container {
        @apply scale-100;
      }
      .btn-text {
        @apply scale-0;
      }
    }
    .loader-container {
      @apply absolute top-0 left-0 right-0 bottom-0 m-auto flex items-center justify-center scale-0 transition-all duration-300;
      .spinner {
        @apply w-5 h-5 rounded-full border-2 border-white-rgba border-t-white transition-all duration-500;
        animation: circle 0.4s linear infinite;
      }
    }
  }
  
  @keyframes circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  