<section class="password-generator-component">
    <div class="password-generator-wrapper">

            <h3>Password Generator</h3>
            <form>
                <input id="passwordOutput" #passwordOutput value="{{newPassword}}" class="form-control mb-1" />
                <input type="text" class="form-control mb-1" class="text-password" value="{{passwordLenght}}" />
                <input type="range" class="form-control mb-1 h-6" (change)="updatePasswordLength($event)" min="3" max="32" step="1" value="{{passwordLenght}}" />
        
                <div class="flex">
                    <span *ngFor="let checkbox of checkboxes" class="mr-2" >
                    <input type="checkbox" (change)="updateCheckboxValue($event)" id="{{checkbox.id}}" [checked]="checkbox.checked" />
                    <label for="{{checkbox.id}}"  class="ml-1">{{checkbox.label}}</label>
                    </span>
                </div>
        
                <button type="button" class="btn btn-primary mt-4 " (click)="generatePassword()">Generate</button>
            </form>
    </div>
</section>